table{
    min-width:100% ;
    border-spacing: 0px;
    }
    table th {
        background-color: #f53844;
        padding: 15px;
        text-align: left;
        color: #f1f1f1;
        font-weight: bold;
    
    }
    table td {
        padding: 15px;
        width: calc(100% / 7);
    }
    .light-white-table{
        background-color: #f2f2f2;
    }
    .white-table{
        background-color: #fff;
    }
    td button{
        padding: 6px 12px;
        border-radius: 10px;
        color: #f2f2f2;
    
    }
    .update-button{
    background-color:#ffc107 ;
    border: 0.8px solid #ffc107;
    color: #2f2f2f;
    
    }
    .delete-button{
        background-color:#f53844 ;
        border: 0.8px solid #f53844;
    
    }