.GetUsersTable{
    min-width:100% ;
    border-spacing: 0px;
    }
    .GetUsersTable th {
        background-color: #f53844;
        padding: 15px;
        text-align: left;
        color: #f1f1f1;
        font-weight: bold;
    
    }
    .GetUsersTable td {
        padding: 15px;
        width: calc(100% / 7);
    }
    .GetUsersTablelight{
        background-color: #f2f2f2;
    }
    .GetUsersTablewhite{
        background-color: #fff;
    }
    .GetUsersTablelight{
        color: black !important;
    }
    .GetUsersTablelight td, .GetUsersTablewhite td{
        color: #2f2f2f;
    }