section {
  width: calc(100% -  var(--side-bar-full-width));
  margin-left: auto;
  height: calc(100vh - 78px);
  padding: 20px;
  padding-right: 10px;
  position: relative;
  transition: 0.5s;
}

@media (max-width: 992px) {
  section {
    width: calc(100% - var(--secondary-side-bar-width));
    transition: 0.35s ease;
  }
}
@media (max-width: 575px) {
  #section-id {
    height: calc(100% - 78px) !important;
  }
  section {
    width: 100%;
    height: 100%;
  };
}

.full-width {
  width: 100%;
}

.full-section {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.full-section::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

.full-section::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.full-section::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #42378f, #f53844);
  border-radius: 5px;
}

.full-section::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top, #392f7b, #9d222b);
}