
 #ag-format-container{
    display: flex;
    flex-wrap: wrap;
    height: 0px;
    
    
 }
 .dark{
  .ag-courses-item_link{
    background-color: #605f5f
    ;
  }
  .ag-courses-item_title{
    color: white;
  }
  .ag-courses-item_date-box{
    color: white;
  }
 }
 /* #ag-format-container:not(.dark){
  background-color: #ad2c34;
 } */
.ag-courses_box {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
     flex-wrap: wrap;
    
  
}
.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    /* margin: 0 15px 30px; */
  
    overflow: hidden;
    margin: 10px;
    margin-top: 0;
  
    border-radius: 10px;
}
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #f3f1f1;
  color: black;
    overflow: hidden;
  
    position: relative;
    text-decoration: none;
  }
  
 
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: black;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: black;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: gray;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg:hover{
    cursor: pointer;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #922f51;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #ad2c34;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #663d96;
  }
.ag-courses_item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }