.drop-down {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 7px -5px black;
  bottom: -70px;
  right: -150px;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  transition: 0.5s;
  color: white;
  z-index: 2;
}

.drop-down.dark {
  background-color: var(--dark-mode-background);
  box-shadow: 0px 0px 6px -5px white;
}

.drop-show {
  bottom: -70px;
  right: 27px;
}
.drop-down div{
  padding: 10px 20px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 5px
}
.drop-down div:hover {
  background-image: var(--linear-gradient);
  cursor: pointer;
  color: white;
}
.drop-down div {
  color: var(--dark-mode-color);
}
.drop-down.dark div{
  color: white;
}
.drop-down div:first-child {
  border-radius: 10px 10px 0px 0px;
}
.drop-down div:last-child {
  border: 0;
  border-radius: 0px 0px 10px 10px;
}