.side-bar {
  position: fixed;
  display: flex;
  flex-flow: column;
  background-color: #fafafa;
  width: var(--side-bar-full-width);
  align-items: center;
  padding: 30px;
  height: 100vh;
  transition: 0.5s;
  left: 0;
}

@media (max-width: 575px) {
  .side-bar {
    justify-content: space-evenly;
    flex-direction: row;
    height: 78px;
    width: 100% !important;
    position: fixed;
    bottom: 0px;
  }
}
.side-bar.dark {
  background-color: var(--dark-mode-background);
}

.side-bar a {
  text-decoration: none;
}

@media (max-width: 575px) {
  .side-bar a {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.logo img{
  width: 30px;
}
.logo span {
  color: var(--dark-mode-color);
  font-weight: 600;
  font-size: 1.5rem;
}
.side-bar.dark .logo span {
  color: white;
}
@media (min-width: 576px) {
  .hidden {
    left: -250px;
  }
}
@media (max-width: 575px) {
  .hidden {
    bottom: -78px !important;
  }
}
@media (max-width: 992px) {
  .logo span { 
    display: none; 
  }
  .side-bar {
    width: var(--secondary-side-bar-width);
    transition: 0.35s ease;
  }
}