.side-bar-options {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 0;
}

@media (max-width: 575px) {
  .side-bar-options {
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
  }
  .side-bar-options li {
    padding: 15px !important;
  }
}

.side-bar-options li {
  list-style: none;
  border-radius: 10px;
  width: 100%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  width: 100%;
  padding: 20px;
  color: var(--dark-mode-color);
  font-weight: 600;
}

.side-bar-options li:hover {
  cursor: pointer;
}

@media (max-width: 575px) {
  .side-bar-options li {
    width: fit-content;
  }
}

.side-bar-options li.dark {
  color: white;
}


.selected {
  background-image: var(--linear-gradient);
  transform: scale(1.1);
  color: white !important;
}

@media (max-width: 992px) {
  .side-bar-options li span { display: none; }
}

