
  

#errorpage {
    background-color:#f6f6f6;
    padding-top: 10%;
    margin: 0;
    text-align: center;
  }
  
  
  
  
  
 #oops {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    justify-content: center;
  }
  
 
#GoBack{

}

 