.modalHeader{
    background-image: var(--linear-gradient);
    color: white;
    border-bottom: 1px solid #222022;
}
#modalBody.dark{
    background-color: #222022;
    color: white;
}
.bottons{
    color: gray;
}
.bottons.dark{
    color: white;
   
}
.bottons:hover.dark{
    color:white
}
.bottons:hover{
    color:black;
}
/* .discriptionBody{
    display: none;
}
.contentsBody{
    display: none;
}
.timelineBody{
    display: none;
} */
nav.link{
    color: white;
}