:root {
  --side-bar-full-width: 250px;
  --dark-mode-background: #292929;
  --dark-mode-color: #36393e;
  --linear-gradient: linear-gradient(315deg, var(--first-color-linear) 0%, var(--second-color-linear) 74%);
  --first-color-linear: #42378f;
  --second-color-linear: #f53844;
  --secondary-side-bar-width: 100px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.body-container {
  display: flex;
  overflow-x: hidden;
}

