.announcement-card {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  flex-basis: 100%;
  height: 180px;
  background-color: #ffffff;
  color: var(--dark-mode-color);
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px -5px black;
  transition: 0.1s;
}
@media (max-width: 575px) {
  .announcement-card {
    border-radius: 10px;
    height: 180px;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
}
/* .announcement-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--first-color-linear);
  height:100%;
  width: 10px;
  left: 0;
  top: 0px;
  border-radius: 10px 0px 0px 0px ;
  transform-origin: right;
  transition: 0.5s;
} */
.announcement-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--linear-gradient);
  height:100%;
  width: 10px;
  right: 0;
  top: 0px;
  border-radius: 0px 10px 0px 0px ;
  transform-origin: right;
  transition: 0.5s;
}
/* .announcement-card:hover::before{
  width: 50%;
  transition: 0.5s;
} */
.announcement-card:hover::after{
  /* width: 20%; */
  transition: 0.5s;
  /* background: var(--first-color-linear) */
}
.announcement-card:hover{
  transition: 0.5s;
  transform: scale(1.01);
}
.announcement-card p{
    padding: 10px 0;
    color: #555;
    font-size: 16.35px;
}
.grid-container {
    display: flex;
    flex-wrap:wrap ;
    gap: 20px;
    justify-items: center;
    width: 100%;
    padding: 20px;
  } 
.grid-container.dark .announcement-card{
    background-color: var(--dark-mode-background);
    color: white;
  }

  .announcement-card h4 {
    font-weight: bold;
  }

  .announcement-card p {
    font-weight: 600;
  }

  .announcement-card.dark p{
    color: #aaa
  }